:root {
  --primary: #009F7F;
  --primary-text: #ffffff;
  --secondary: #009F7F;
  --input-border: #D1D5DB;
}

.primary-btn {
  background-color: var(--primary);
  color: var(--primary-text);
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
  font-weight: 500;

}

.primary-btn:hover {
  transform: scale(1.1);
  background-color: var(--secondary);
  ;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Pre Loader */
.preloader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #009F7F;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  font: 1em Dosis, sans-serif;
  line-height: 1.5;
  perspective: 40em;
}

.preloader-container .preloader {
  display: flex;
  align-items: center;
  animation: tilt-spin 8s linear infinite;
  flex-direction: column;
  justify-content: center;
  width: 17em;
  height: 17em;
}

.preloader-container .preloader,
.preloader-container .preloader__ring {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.preloader-container .preloader__ring {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 4s linear infinite;
  font-size: 2em;
  height: 3rem;
  position: relative;
  width: 1.5rem;
}

.preloader-container .preloader__ring:nth-child(even) {
  animation-direction: reverse;
}

.preloader-container .preloader__sector {
  font-weight: 600;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  left: 0;
  transform: translateZ(7rem);
}

.preloader-container .preloader__sector,
.preloader-container .preloader__sector:empty:before {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.preloader-container .preloader__sector:empty:before {
  background: linear-gradient(transparent 45%, currentColor 45% 55%, transparent 55%);
  content: "";
}

.preloader-container .preloader__sector:nth-child(2) {
  transform: rotateY(12deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(3) {
  transform: rotateY(24deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(4) {
  transform: rotateY(36deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(5) {
  transform: rotateY(48deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(6) {
  transform: rotateY(60deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(7) {
  transform: rotateY(72deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(8) {
  transform: rotateY(84deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(9) {
  transform: rotateY(96deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(10) {
  transform: rotateY(108deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(11) {
  transform: rotateY(120deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(12) {
  transform: rotateY(132deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(13) {
  transform: rotateY(144deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(14) {
  transform: rotateY(156deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(15) {
  transform: rotateY(168deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(16) {
  transform: rotateY(180deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(17) {
  transform: rotateY(192deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(18) {
  transform: rotateY(204deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(19) {
  transform: rotateY(216deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(20) {
  transform: rotateY(228deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(21) {
  transform: rotateY(240deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(22) {
  transform: rotateY(252deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(23) {
  transform: rotateY(264deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(24) {
  transform: rotateY(276deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(25) {
  transform: rotateY(288deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(26) {
  transform: rotateY(300deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(27) {
  transform: rotateY(312deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(28) {
  transform: rotateY(324deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(29) {
  transform: rotateY(336deg) translateZ(7rem);
}

.preloader-container .preloader__sector:nth-child(30) {
  transform: rotateY(348deg) translateZ(7rem);
}

@keyframes tilt-spin {
  from {
    transform: rotateY(0deg) rotateX(30deg);
  }

  to {
    transform: rotateY(1turn) rotateX(30deg);
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(1turn);
  }
}

.tox-statusbar__branding {
  display: none !important;
}
